@model ABCApp.Web.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";  
}

<h4>Add Product Order</h4>
<hr />
@if (ViewData["Error"] != null)
{
    <h4>Error!</h4>
    <div class="text-danger"> @ViewData["Error"]</div>
    
}

<div class="row">
    <div class="col-md-11">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Countries" class="control-label"></label>
                        @Html.DropDownListFor(x => x.Countries, Model.Countries, "--Select Country--", new { @id = "ddlCountry", @class = "form-control" })
                        <span asp-validation-for="Countries" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="DateOfSale" class="control-label"></label>
                        @Html.TextBoxFor(m => m.DateOfSale, "{0:MM/dd/yyyy}", new { @class = "form-control", @id = "dateOfSale", placeholder = "Select date of sale" })
                        @Html.ValidationMessageFor(model => model.DateOfSale, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Regions" class="control-label"></label>
                        @Html.DropDownListFor(x => x.Regions, Model.Regions, "--Select Region--", new { @id = "ddlRegion", @class = "form-control" })
                        <span asp-validation-for="Regions" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Products" class="control-label"></label>
                        @Html.DropDownListFor(x => x.Products, Model.Products, "--Select Product --", new { @id = "ddlProduct", @class = "form-control" })
                        <span asp-validation-for="Products" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Cities" class="control-label"></label>
                        @Html.DropDownListFor(x => x.Cities, Model.Cities, "--Select City --", new { @id = "ddlCity", @class = "form-control" })
                        <span asp-validation-for="Cities" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" id="productQty" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="TotalSale" class="control-label"></label>
                        <input asp-for="TotalSale" asp-format="{0:C}" class="form-control" id="salesTotal" readonly />
                        <span asp-validation-for="TotalSale" class="text-danger"></span>
                    </div>
                </div>
            </div>







            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">first name</label>
                                <input class="input--style-4" type="text" name="first_name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">last name</label>
                                <input class="input--style-4" type="text" name="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Birthday</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">
                                        Male
                                        <input type="radio" checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">
                                        Female
                                        <input type="radio" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" type="text" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label">Subject</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="subject">
                                <option disabled="disabled" selected="selected">Choose option</option>
                                <option>Subject 1</option>
                                <option>Subject 2</option>
                                <option>Subject 3</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            // country change
            $('#ddlCountry').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Order/GetRegions",
                    data: { countryCode: $('#ddlCountry').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $("#ddlRegion").empty()
                        $("#ddlRegion").append("<option value='' selected='selected'>-- Select Region --</option>")
                        for (var i = 0; i < data.length; i++) {
                            $("#ddlRegion").append('<option value="'
                                + data[i].value + '">'
                                + data[i].text + '</option>')
                        }


                    }
                });
            });
            //region change
            $('#ddlRegion').change(function () {
                $.ajax({
                    type: "post",
                    url: "/Order/GetCities",
                    data: { regionCode: $('#ddlRegion').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $("#ddlCity").empty()
                        $("#ddlCity").append("<option value='' selected='selected'>-- Select City --</option>")
                        for (var i = 0; i < data.length; i++) {
                            $("#ddlCity").append('<option value="'
                                + data[i].value + '">'
                                + data[i].text + '</option>')
                        }


                    }
                });
            });

            //date picker
            $("#dateOfSale").datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr"
            });

            // sales total
            $('#ddlProduct').change(function () {
                getTotalSale();
            });
            // sales total
            $('#productQty').change(function () {
                getTotalSale();
            });

            function getTotalSale() {
                $.ajax({
                    type: "post",
                    url: "/Order/GetSaleTotal",
                    data: { productId: $('#ddlProduct').val(), quantity: $('#productQty').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#salesTotal').val(data);
                    }
                });
            }

        });
    </script>
}
